<link rel="stylesheet" href="/static/button_language.css">

<div class="language-switcher">
    <div class="language-dropdown">
        <button class="language-button" id="languageButton">Language</button>
        <div class="language-dropdown-content" id="languageDropdown">
            <div class="language-option" data-lang="en">English</div>
            <div class="language-option" data-lang="zh">简体中文</div>
        </div>
    </div>
</div>

<script>
    //Initialization Language
    let language = localStorage.getItem('language') || 'en';
    let dbTranslations = {};
    let webTranslations = {};
    var web_l10n_texts = {};
    var db_l10n_texts = {};

    const languageButton = document.getElementById('languageButton');
    const languageDropdown = document.getElementById('languageDropdown');

    //Change Language Click Event style
    languageButton.addEventListener('click', () => {
        languageDropdown.classList.toggle('show');
    });

    //Change Language Click Event style
    document.addEventListener('click', (event) => {
        if (!languageButton.contains(event.target) && !languageDropdown.contains(event.target)) {
            languageDropdown.classList.remove('show');
        }
    });

    //Add TAG used to store original English
    function setLanguageTags() {
        document.querySelectorAll('*:not(script):not(style):not(input):not([class^="language-"]):not(.res-val)').forEach(element => {
            let textNode = Array.from(element.childNodes).find(node => node.nodeType === Node.TEXT_NODE);
            if (textNode && textNode.textContent !== '') {
                const textContent = textNode.textContent;
                element.setAttribute('data-language-Tag-And-Source-EN', textContent);
            }
        });
    }

    //Load Web Localization Dictionary and Update Display Language
    async function loadWebLanguageFilesAndUpdate(lang) {
        if (lang === 'en') {
            webTranslations = {};
            updateWebLocalizedText();
            return;
        }
        try {
            //Check if Loaded
            if (window.web_l10n_texts?.[lang]) {
                webTranslations = window.web_l10n_texts[lang];
                updateWebLocalizedText();
                return;
            }
            const webScript = document.createElement('script');
            webScript.src = `/static/js/web/${lang}.js`;
            document.head.appendChild(webScript);
            await Promise.all([
                new Promise(resolve => { webScript.onload = resolve; webScript.onerror = () => resolve(); })
            ]);
            webTranslations = window.web_l10n_texts?.[lang] || {};
            updateWebLocalizedText();
        }catch (error) {
            console.error('loadWebLanguageFiles if Error：', error);
            webTranslations = {};
            updateWebLocalizedText();
        }
    }

    //Update Web Localized Text
    function updateWebLocalizedText() {
        document.querySelectorAll('[data-language-Tag-And-Source-EN]').forEach(element => {
            const sourceText = element.getAttribute('data-language-Tag-And-Source-EN');
            let textNode = Array.from(element.childNodes).find(node => node.nodeType === Node.TEXT_NODE);
            let translation = sourceText;
            if (language === 'en') {
                if (textNode) {
                    textNode.textContent = sourceText;
                } else if (sourceText) {
                    element.appendChild(document.createTextNode(sourceText));
                }
            } else {
                translation = webTranslations[sourceText] || sourceText;
            }
            if (textNode) {
                textNode.textContent = translation;
            } else if (translation) {
                element.appendChild(document.createTextNode(translation));
            }
        });

        //Update switch language button text
        languageButton.textContent = language === 'en' ? 'Language' : (webTranslations['Language'] || 'Language');
    }

    //Load Database Localization Dictionary and Update Display Language
    async function loadDBLanguageFilesAndUpdate(lang, mode = 'all', el = null) {
        if (lang === 'en') {
            dbTranslations = {};
            updateDBLocalizedText();
            return;
        }
        try {
            if (window.db_l10n_texts?.[lang]) {
                dbTranslations = window.db_l10n_texts[lang];
                updateDBLocalizedText();
                return;
            }
            const dbScript = document.createElement('script');
            dbScript.src = `/static/js/db/${lang}.js`;
            document.head.appendChild(dbScript);
            await Promise.all([
                new Promise(resolve => { dbScript.onload = resolve; dbScript.onerror = () => resolve(); })
            ]);
            dbTranslations = window.db_l10n_texts?.[lang] || {};
            updateDBLocalizedText();
        }catch (error) {
            console.error('loadDBLanguageFiles if Error：', error);
            dbTranslations = {};
            updateDBLocalizedText();
        }
    }

    function updateDBLocalizedText() {
        const allItems = document.querySelectorAll(`
            .choices__list.choices__list--dropdown .choices__list .choices__item,
            .choices__list.choices__list--multiple > .choices__item,
            .section.results .results-table a
        `);
        allItems.forEach((element) => {
            const sourceText = element.getAttribute('data-language-Tag-And-Source-EN');
            const tag = element.getAttribute('data-language-Tag');
            let textNode = Array.from(element.childNodes).find(node => node.nodeType === Node.TEXT_NODE);
            let translation = sourceText;
            if (language === 'en') {
                if (textNode) {
                    textNode.textContent = sourceText;
                } else if (sourceText) {
                    element.appendChild(document.createTextNode(sourceText));
                }
            } else {
                translation = dbTranslations[tag] || sourceText;
            }
            if (textNode) {
                textNode.textContent = translation;
            } else if (translation) {
                element.appendChild(document.createTextNode(translation));
            }
        });
    }

    //Listen for Language Switch Event
    languageDropdown.addEventListener('click', (event) => {
        const lang = event.target.getAttribute('data-lang');
        if (lang) {
            language = lang;
            localStorage.setItem('language', language);
            languageDropdown.classList.remove('show');
            loadWebLanguageFilesAndUpdate(language);
            loadDBLanguageFilesAndUpdate(language);

        }
    });

    //Execute Language Work After Page Load
    (async () => {
        setLanguageTags();
        await loadWebLanguageFilesAndUpdate(language);
        await loadDBLanguageFilesAndUpdate(language);
    })();
</script>